.detailsPage Header {
  z-index: 1;
}
.detailsPage .games {
  position: absolute;
  top: 0;
  width: 100%;
  height: 380px;
}
.detailsPage .games h1 {
  position: absolute;
  top: 150px;
  left: 75px;
  color: white;
  font-size: 53px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.detailsPage .games ul {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 230px;
  left: 40px;
  list-style: none;
  font-size: 18px;
  color: #fcb900;
}
.detailsPage .games ul li span .pages {
  text-decoration: none;
  color: white;
}
.detailsPage .games ul .home:after {
  content: ">";
  display: inline-block;
  margin-left: 0.4615rem;
  margin-right: 0.4615rem;
  color: white;
}
.detailsPage .games ul .all:after {
  content: ">";
  display: inline-block;
  margin-left: 0.4615rem;
  margin-right: 0.4615rem;
  color: white;
}
.detailsPage .gameDetails {
  position: absolute;
  top: 350px;
  display: flex;
  flex-direction: row;
  margin: 130px;
}
.detailsPage .gameDetails .slider_about {
  display: flex;
  flex-direction: column;
}
.detailsPage .gameDetails .slider_about .slider {
  width: 700px;
}
.detailsPage .gameDetails .slider_about .about {
  margin-top: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 20px;
}
.detailsPage .gameDetails .slider_about .about h1 {
  font-size: 30px;
  font-weight: bold;
}
.detailsPage .gameDetails .slider_about .about h1 span {
  color: #fcb900;
  text-transform: uppercase;
}
.detailsPage .gameDetails .slider_about > * {
  margin-right: 100px;
}
.detailsPage .gameDetails .details_poster {
  display: flex;
  flex-direction: column;
}
.detailsPage .gameDetails .details_poster .details {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 20px;
}
.detailsPage .gameDetails .details_poster .details h1 {
  font-size: 30px;
  font-weight: bold;
}
.detailsPage .gameDetails .details_poster .details h1 span {
  color: #fcb900;
}
.detailsPage .gameDetails .details_poster .details .detail {
  display: flex;
  flex-direction: row;
}
.detailsPage .gameDetails .details_poster .details .detail .fas {
  color: #fcb900;
  padding: 6px;
}
.detailsPage .gameDetails .details_poster .details .detail .far {
  color: #fcb900;
  padding: 6px;
}
.detailsPage .gameDetails .details_poster .details .detail p {
  font-weight: bold;
}
.detailsPage .gameDetails .details_poster .details .detail p span {
  font-weight: lighter;
}
.detailsPage .gameDetails .details_poster .poster {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin-top: 50px;
}
.detailsPage .gameDetails .details_poster .poster img {
  padding: 20px;
  width: 300px;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
}
.detailsPage .gameDetails .details_poster .poster h1 {
  padding: 25px 20px 0 20px;
  font-size: 30px;
  font-weight: bold;
}
.detailsPage .gameDetails .details_poster .poster h1 span {
  color: #fcb900;
}
.detailsPage Footer {
  position: absolute;
  top: 1600px;
}

@media (max-width: 1024px) {
  .detailsPage {
    max-width: 100%;
  }
  .detailsPage .gameDetails {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    position: absolute;
    right: 0;
    left: 0;
  }
  .detailsPage .gameDetails .slider_about .about {
    width: 100%;
  }
  .detailsPage .gameDetails .details_poster {
    margin-right: 100px;
    width: 100%;
  }
  .detailsPage .gameDetails .details_poster .details {
    margin-top: 50px;
  }
  .detailsPage .gameDetails .details_poster .poster img {
    width: 100%;
    height: auto;
  }
  .detailsPage Footer {
    top: 2500px;
  }
}
@media (max-width: 805px) {
  .detailsPage .gameDetails {
    margin-left: 40px;
  }
  .detailsPage Footer {
    top: 2500px;
  }
}
@media (max-width: 780px) {
  .detailsPage .gameDetails {
    margin-left: 90px;
  }
  .detailsPage .gameDetails .slider_about .slider {
    width: 600px;
  }
}
@media (max-width: 735px) {
  .detailsPage .gameDetails {
    margin-left: 55px;
  }
}
@media (max-width: 678px) {
  .detailsPage .gameDetails {
    margin-left: 90px;
  }
  .detailsPage .gameDetails .slider_about .slider {
    width: 500px;
  }
}
@media (max-width: 645px) {
  .detailsPage .gameDetails {
    margin-left: 70px;
  }
  .detailsPage .gameDetails .slider_about .slider {
    width: 500px;
  }
  .detailsPage Footer {
    top: 2600px;
  }
}
@media (max-width: 600px) {
  .detailsPage .gameDetails {
    margin-left: 50px;
  }
}
@media (max-width: 585px) {
  .detailsPage .gameDetails {
    margin-left: 70px;
  }
  .detailsPage .gameDetails .slider_about .slider {
    width: 450px;
  }
}
@media (max-width: 565px) {
  .detailsPage .gameDetails {
    margin-left: 60px;
  }
  .detailsPage .gameDetails .slider_about .slider {
    width: 430px;
  }
  .detailsPage Footer {
    top: 2700px;
  }
}
@media (max-width: 525px) {
  .detailsPage .games h1 {
    font-size: 40px;
  }
  .detailsPage .gameDetails {
    margin-left: 53px;
  }
  .detailsPage .gameDetails .slider_about .slider {
    width: 420px;
  }
  .detailsPage .gameDetails .slider_about .about h1 {
    font-size: 25px;
  }
  .detailsPage .gameDetails .slider_about .about p {
    font-size: 15px;
  }
  .detailsPage .gameDetails .details_poster .details h1 {
    font-size: 25px;
  }
  .detailsPage .gameDetails .details_poster .details p {
    font-size: 15px;
  }
  .detailsPage .gameDetails .details_poster .poster h1 {
    font-size: 25px;
  }
  .detailsPage Footer {
    top: 2600px;
  }
}
@media (max-width: 505px) {
  .detailsPage .gameDetails {
    margin-left: 50px;
  }
  .detailsPage .gameDetails .slider_about .slider {
    width: 400px;
  }
}
@media (max-width: 490px) {
  .detailsPage .gameDetails {
    margin-left: 45px;
  }
  .detailsPage .gameDetails .slider_about .slider {
    width: 380px;
  }
}
@media (max-width: 450px) {
  .detailsPage .games h1 {
    font-size: 30px;
  }
  .detailsPage .games ul li {
    font-size: 14px;
  }
  .detailsPage .gameDetails {
    margin-left: 40px;
  }
  .detailsPage .gameDetails .slider_about .slider {
    width: 360px;
  }
  .detailsPage .gameDetails .slider_about .about h1 {
    font-size: 20px;
  }
  .detailsPage .gameDetails .slider_about .about p {
    font-size: 12px;
  }
  .detailsPage .gameDetails .details_poster .details h1 {
    font-size: 20px;
  }
  .detailsPage .gameDetails .details_poster .details p {
    font-size: 12px;
  }
  .detailsPage .gameDetails .details_poster .poster h1 {
    font-size: 20px;
  }
  .detailsPage Footer {
    top: 2400px;
  }
}
@media (max-width: 425px) {
  .detailsPage .gameDetails {
    margin-left: 40px;
  }
  .detailsPage .gameDetails .slider_about .slider {
    width: 340px;
  }
}
@media (max-width: 410px) {
  .detailsPage .gameDetails {
    margin-left: 40px;
  }
  .detailsPage .gameDetails .slider_about .slider {
    width: 320px;
  }
}
@media (max-width: 391px) {
  .detailsPage .games h1 {
    font-size: 25px;
  }
  .detailsPage .games ul li {
    font-size: 12px;
  }
  .detailsPage .gameDetails {
    margin-left: 35px;
  }
  .detailsPage .gameDetails .slider_about .slider {
    width: 310px;
  }
  .detailsPage .gameDetails .slider_about .about h1 {
    font-size: 18px;
  }
  .detailsPage .gameDetails .slider_about .about p {
    font-size: 10px;
  }
  .detailsPage .gameDetails .details_poster .details h1 {
    font-size: 18px;
  }
  .detailsPage .gameDetails .details_poster .details p {
    font-size: 10px;
  }
  .detailsPage .gameDetails .details_poster .poster h1 {
    font-size: 18px;
  }
  .detailsPage Footer {
    top: 2200px;
  }
}
@media (max-width: 370px) {
  .detailsPage .gameDetails {
    margin-left: 32px;
  }
  .detailsPage .gameDetails .slider_about .slider {
    width: 300px;
  }
}
@media (max-width: 350px) {
  .detailsPage .gameDetails {
    margin-left: 27px;
  }
  .detailsPage .gameDetails .slider_about .slider {
    width: 280px;
  }
  .detailsPage .gameDetails .slider_about .about h1 {
    font-size: 16px;
  }
  .detailsPage .gameDetails .slider_about .about p {
    font-size: 8px;
  }
  .detailsPage .gameDetails .details_poster .details h1 {
    font-size: 16px;
  }
  .detailsPage .gameDetails .details_poster .details p {
    font-size: 8px;
  }
  .detailsPage .gameDetails .details_poster .poster h1 {
    font-size: 16px;
  }
  .detailsPage Footer {
    top: 2000px;
  }
}
@media (max-width: 320px) {
  .detailsPage .gameDetails {
    margin-left: 20px;
  }
  .detailsPage .gameDetails .slider_about .slider {
    width: 280px;
  }
}
@media (max-width: 315px) {
  .detailsPage .gameDetails {
    margin-left: 20px;
  }
  .detailsPage .gameDetails .slider_about .slider {
    width: 260px;
  }
  .detailsPage Footer {
    top: 2100px;
  }
}/*# sourceMappingURL=DetailsPage.css.map */