footer {
    position: absolute;
    top: 5700px;
    width: 100%;
    background-color: rgb(21, 21, 21);
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 30px;

        h1 {
            font-size: 40px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: white;
            padding: 20px;
            span {
              color: #fcb900;
            }
        }
        .clouxPages {
            .links {
                display: flex;
                flex-direction: row;
                margin-top: 40px;
                .link {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    .pages {
                        color: white;
                        text-decoration: none;
                        padding: 10px;

                        &:hover {
                            color: #fcb900;
                        }
                    }
                }
            }
        }
        .newGame {
            .hogwarts {
                margin-top: 40px;
                img {
                    width: 150px;
                    height: 90px;
                    object-fit: cover;
                    margin: 20px;
                }
                .page {
                    color: white;
                    margin: 20px;
                    text-decoration: none;
                    font-size: 20px;
                }
            }
        }
        .socialNetworks {
            .networks {
                padding: 20px;
                .network {
                    display: flex;
                    flex-direction: row;
                    p {
                        color: white;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
    .footerTwo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: black;
        align-items: center;
        height: 50px;
        p {
            color: white;
        }
        h1 {
            font-size: 30px;
            color: white;
            span {
              color: #fcb900;
            }
        }
    }
}

@media (max-width: 1024px) {
    footer {
        top: 9300px;
        max-width: 100%;
        .footer {
            display: grid;
            grid-template-columns: none;

            .clouxPages {
                .links {
                    margin: 10px;
                    .link {
                        margin: 20px;
                    }
                    .link > * {
                        margin-right: 100px;
                    }
                }
            }
            .newGame {
                .hogwarts {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }
        }
        .footerTwo {
            max-width: 100%;
            p {
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 900px) {
    footer {
        top: 9300px;
        max-width: 100%;
    }
} 

@media (max-width: 750px) {
    footer {
        top: 9500px;
        max-width: 100%;
    }
} 

@media (max-width: 690px) {
    footer {
        top: 9700px;
        max-width: 100%;
    }
} 

@media (max-width: 655px) {
    footer {
        top: 9800px;
    }
}

@media (max-width: 600px) {
    footer {
        top: 10000px;
        .footer {
            display: inline;
            .newGame {
                h1 {
                    width: 200px;
                }
            }
        }
        .footerTwo {
            h1 {
                font-size: 20px;
            }
            p{
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 578px) {
    footer {
        top: 10800px;
        max-width: 100%;
    }
} 

@media (max-width: 574px) {
    footer {
        top: 11500px;
        max-width: 100%;
    }
} 

@media (max-width: 520px) {
    footer {
        top: 12800px;
        .footer {
            .clouxPages {
                .links {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    .link {
                        margin: 0;
                    }
                }
            }
            .newGame {
                .hogwarts {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

@media (max-width: 495px) {
    footer {
        top: 12900px;
    }
}

@media (max-width: 435px) {
    footer {
        top: 13000px;
        .footer {
            .clouxPages {
                .links {
                    .link > * {
                        margin-right: 10px;
                    }
                    .link {
                        margin-left: 0;
                    }
                    .pages {
                        font-size: 15px;
                    }
                }
            }
        }    
    }
}    

@media (max-width: 380px) {
    footer {
        top: 13100px;
        .footer {
            h1 {
                font-size: 25px;
            }
            .newGame {
                .hogwarts {
                    img {
                        width: 120px;
                    }
                    .page {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}  

@media (max-width: 370px) {
    footer {
        top: 13500px;   
        .footerTwo {
            h1 {
                font-size: 18px;
            }
            p{
                font-size: 10px;
            }
        }
    }
}

@media (max-width: 330px) {
    footer {
        .footer {
            h1 {
                font-size: 25px;
            }
            .newGame {
                .hogwarts {
                    img {
                        width: 110px;
                        height: 70px;
                    }
                    .page {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width: 290px) {
    footer {
        top: 13700px;
        max-width: 100%;
    }
}  